![](img/511_banner.png)

# Lecture 1: Python Basics

**Tomas Beuzen, September 2020**

<h2>Lecture Outline<span class="tocSkip"></span></h2>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Introduction" data-toc-modified-id="1.-Introduction-1">1. Introduction</a></span></li><li><span><a href="#2.-Basic-datatypes" data-toc-modified-id="2.-Basic-datatypes-2">2. Basic datatypes</a></span></li><li><span><a href="#3.-Lists-and-Tuples" data-toc-modified-id="3.-Lists-and-Tuples-3">3. Lists and Tuples</a></span></li><li><span><a href="#4.-String-Methods" data-toc-modified-id="4.-String-Methods-4">4. String Methods</a></span></li><li><span><a href="#5.-Dictionaries" data-toc-modified-id="5.-Dictionaries-5">5. Dictionaries</a></span></li><li><span><a href="#6.-Empties" data-toc-modified-id="6.-Empties-6">6. Empties</a></span></li><li><span><a href="#7.-Conditionals" data-toc-modified-id="7.-Conditionals-7">7. Conditionals</a></span></li></ul></div>

## Lecture Learning Objectives

- Create, describe and differentiate standard Python datatypes such as `int`, `float`, `string`, `list`, `dict`, `tuple`, etc
- Perform arithmetic operations like `+`, `-`, `*`, `**` on numeric values
- Perform basic string operations like `.lower()`, `.split()` to manipulate strings
- Compute boolean values using comparison operators operations (`==`, `!=`, `>`, etc.) and boolean operators (`and`, `or`, `not`)
- Assign, index, slice and subset values to and from tuples, lists, strings and dictionaries
- Write a conditional statement with `if`, `elif` and `else`
- Identify code blocks by levels of indentation
- Explain the difference between mutable objects like a `list` and immutable objects like a `tuple`

## 1. Introduction
<hr>

### About the course

- The MDS program has a programming prerequisite.
- Therefore, this course does not start from "no programming knowledge", i.e., you should know what an `if` statement is, or a `for` loop or a `function`, etc
- We'll go over these things only briefly in lectures.
- However, not all of you have used **Python**.
- So, this course is about _Python-specific_ syntax/knowledge
- And, how to use Python for data wrangling and data science

- The course will comprise a variety of Synchronous/Asynchronous and Required/Optional material
- You can read more in the [README](../README.md)

| Activity           | Frequency | Time                       | Synchronous/Asynchronous? | Mandatory? |
| ------------------ | --------- | -------------------------- | ------------------------- | ---------- |
| Lectures           | 2 / week  | Released at start of week  | Asynchronous              | **Yes**    |
| Lecture Q&A        | 2 / week  | Mon & Wed 10:30-12pm (PDT) | Synchronous               | No         |
| Practice Exercises | 2 / week  | Released at start of week  | Asynchronous              | No         |
| Labs               | 1 / week  | Mon or Wed 2-4pm (PDT)     | Synchronous               | **Yes**    |
| Quizzes            | 2 / block | Week 3 & 5                 | Synchronous               | **Yes**    |
| Office Hours       | 2 / week  | TBA                        | Synchronous               | No         |

- We use Jupyter notebooks for lectures/labs/activites
- You should download these notebooks locally to work on them
- However I've also compiled everything into a nice book [here](https://pages.github.ubc.ca/MDS-2020-21/DSCI_511_py-prog_students/README.html)

### About me

- <https://www.tomasbeuzen.com/>
- I'm from Australia, I moved to Vancouver early 2019
- This is my second year with MDS

![](img/lecture1/australia.png)

- BEng Civil Engineering, BSc Climate Dynamics
- PhD Coastal Engineering (thesis topic: machine learning for prediction coastal storm erosion)

![](img/lecture1/beach.png)

- My coding journey: VBA > Matlab/Weka > Python/R
- I mostly use Python, I'm an intermediate R user (you'll be better than me by the end of the program!), I wish I knew more front-end HTML, CSS, JS (but I know enough to get by)

### Why Python?

- Why did we choose Python in the MDS program?
  - Extremely popular in DS (and beyond!)
  - Relatively easy to learn
  - Good documentation
  - **Huge user community**
    - Lots of Stack Overflow and other forums
    - Lots of useful packages (more on this in later lectures)

### Attribution

- These lectures build upon previous material developed by [Patrick Walls](https://www.math.ubc.ca/~pwalls/) and [Mike Gelbart](https://www.mikegelbart.com/).
- Throughout these lectures I've curated a variety of different examples, images, etc from sources which I cite when used.

## 2. Basic datatypes
<hr>

- A **value** is a piece of data that a computer program works with such as a number or text. 
- There are different **types** of values: `42` is an integer and `"Hello!"` is a string. 
- A **variable** is a name that refers to a value. 
  - In mathematics and statistics, we usually use variables names like $x$ and $y$. 
  - In Python, we can use any word as a variable name (as long as it starts with a letter and is not a [reserved word](https://docs.python.org/3.3/reference/lexical_analysis.html#keywords) in Python such as `for`, `while`, `class`, `lambda`, etc.). In Jupyter and other IDEs like VSCode, these reserved words usually show up as a different color to highlight that they are reserved!
  - Think of a variable as a box that holds some information (a single number, a vector, a string, etc)
- We use the **assignment operator** `=` to assign a value to a variable.

![](img/lecture1/box.png)

Image modified from: [medium.com](https://www.google.com/url?sa=i&url=https%3A%2F%2Fmedium.com%2F%40stevenpcurtis.sc%2Fwhat-is-a-variable-3447ac1331b9&psig=AOvVaw3YbYfgb7XFOJ_sHP5eliob&ust=1595365663851000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCMi8nrfe3OoCFQAAAAAdAAAAABAZ)

- See the [Python 3 documentation](https://docs.python.org/3/library/stdtypes.html) for a summary of the standard built-in Python datatypes
- See [Think Python (Chapter 2)](http://greenteapress.com/thinkpython/html/thinkpython003.html) for a discussion of variables, expressions and statements in Python.

### Common built-in Python data types

| English name          | Type name  | Type Category  | Description                                   | Example                                    |
| :-------------------- | :--------- | :------------- | :-------------------------------------------- | :----------------------------------------- |
| integer               | `int`      | Numeric Type   | positive/negative whole numbers               | `42`                                       |
| floating point number | `float`    | Numeric Type   | real number in decimal form                   | `3.14159`                                  |
| boolean               | `bool`     | Boolean Values | true or false                                 | `True`                                     |
| string                | `str`      | Sequence Type  | text                                          | `"I Can Has Cheezburger?"`                 |
| list                  | `list`     | Sequence Type  | a collection of objects - mutable & ordered   | `['Ali', 'Xinyi', 'Miriam']`               |
| tuple                 | `tuple`    | Sequence Type  | a collection of objects - immutable & ordered | `('Thursday', 6, 9, 2018)`                 |
| dictionary            | `dict`     | Mapping Type   | mapping of key-value pairs                    | `{'name':'DSCI', 'code':511, 'credits':2}` |
| none                  | `NoneType` | Null Object    | represents no value                           | `None`                                     |

### Numeric data types

- There are three distinct numeric types: `integers`, `floating point numbers`, and `complex numbers` (not covered here)
- We can determine the type of an object in Python using `type()`
- We can print the value of the object using `print()`

In [1]:
x = 42

In [2]:
type(x)

int

In [3]:
print(x)

42

In [4]:
x  # in Jupyter/IPython we don't actually need to explicitly print for the last line of a cell

42

In [5]:
pi = 3.14159

In [6]:
print(pi)

3.14159

In [7]:
type(pi)

float

### Arithmetic Operators

- The syntax for the common arithmetic operators are:

| Operator |   Description    |
| :------: | :--------------: |
|   `+`    |     addition     |
|   `-`    |   subtraction    |
|   `*`    |  multiplication  |
|   `/`    |     division     |
|   `**`   |  exponentiation  |
|   `//`   | integer division / floor division |
|   `%`    |      modulo      |

- Let's apply these operators to numeric types and observe the results

In [8]:
1 + 2 + 3 + 4 + 5  # add

15

In [9]:
0.1 + 0.2

0.30000000000000004

- 😕 ... (More on this strange result in DSCI 572)

In [10]:
2 * 3.14159  # multiply

6.28318

In [11]:
2 ** 10  # exponent

1024

- Division may produce a different `dtype` than expected, like changing `int` to `float` (more on this in a later lecture)

In [12]:
int_2 = 2
type(int_2)

int

In [13]:
int_2 / int_2  # divison

1.0

In [14]:
type(int_2 / int_2)

float

- `//` allows us to do "integer division" (aka "floor division") and retain the `int` `dtype`, it always rounds down

In [15]:
101 / 2

50.5

In [16]:
101 // 2  # "floor division" - always rounds down

50

- We refer to this as "integer division" or "floor division" because it's like calling `int` on the result of a division, which rounds down to the nearest integer, or "floors" the result

In [17]:
int(101 / 2)

50

- `%` "modulo" gives us the remainder after division

In [18]:
100 % 2  # "100 mod 2", or the remainder when 100 is divided by 2

0

In [19]:
101 % 2  # "101 mod 2", or the remainder when 101 is divided by 2

1

In [20]:
100.5 % 2

0.5

### None

- `NoneType` is its own type in Python.
- It only has one possible value, `None` - it represents an object with no value

In [21]:
x = None

In [22]:
print(x)

None

In [23]:
type(x)

NoneType

- You may have seen similar things in other languages, like `null` in Java, etc.

### Strings

- Text is stored as a type called a `string`. 
- We think of a string as a sequence of characters. 
- Actually they are a sequence of Unicode code points.
- Here's a [great blog post](https://www.joelonsoftware.com/2003/10/08/the-absolute-minimum-every-software-developer-absolutely-positively-must-know-about-unicode-and-character-sets-no-excuses/) on Unicode
- We write strings as characters enclosed with either:
  - single quotes, e.g., `'Hello'` 
  - double quotes, e.g., `"Goodbye"`
- There's no difference between the two methods, but there are cases where having both is useful (more on that below)!
- Triple double quotes are typically used for function documentation (more on that in a later lecture), e.g., `"""This function adds two numbers"""`

In [24]:
my_name = "Tomas Beuzen"

In [25]:
print(my_name)

Tomas Beuzen

In [26]:
type(my_name)

str

In [27]:
course = 'DSCI 511'

In [28]:
print(course)

DSCI 511

In [29]:
type(course)

str

- If the string contains a quotation or apostrophe, we can use a combination of single and double quotes to define the string.

In [30]:
sentence = "It's a rainy day."

In [31]:
print(sentence)

It's a rainy day.

In [32]:
type(sentence)

str

In [33]:
quote = 'Donald Knuth: "Premature optimization is the root of all evil."'

In [34]:
print(quote)

Donald Knuth: "Premature optimization is the root of all evil."

### Boolean

- The Boolean (`bool`) type has two values: `True` and `False`. 
- They are pretty self-explanatory and are constant objects in Python (they always exist)

In [35]:
the_truth = True

In [36]:
print(the_truth)

True

In [37]:
type(the_truth)

bool

In [38]:
lies = False

In [39]:
print(lies)

False

In [40]:
type(lies)

bool

### Comparison Operators

- Compare objects using comparison operators, with a Boolean result:

| Operator  | Description                          |
| :-------- | :----------------------------------- |
| `x == y ` | is `x` equal to `y`?                 |
| `x != y`  | is `x` not equal to `y`?             |
| `x > y`   | is `x` greater than `y`?             |
| `x >= y`  | is `x` greater than or equal to `y`? |
| `x < y`   | is `x` less than `y`?                |
| `x <= y`  | is `x` less than or equal to `y`?    |
| `x is y`  | is `x` the same object as `y`?       |

In [41]:
2 < 3

True

In [42]:
"Deep learning" == "Solve all the world's problems"

False

In [43]:
2 != "2"

True

In [44]:
2 is 2

True

In [45]:
2 == 2.0

True

In [46]:
2 is 2.0

False

- We will discuss `is` and this interesting result next week...

### Boolean Operators

- Evaluates to either `True` or `False`:

| Operator | Description |
| :---: | :--- |
|`x and y`| are `x` and `y` both True? |
|`x or y` | is at least one of `x` and `y` True? |
| `not x` | is `x` False? |

In [47]:
True and True

True

In [48]:
True and False

False

In [49]:
True or False

True

In [50]:
False or False

False

In [51]:
("Python 2" != "Python 3") and (2 <= 3)

True

In [52]:
True

True

In [53]:
not True

False

In [54]:
not not True

True

- [bitwise operators](https://wiki.python.org/moin/BitwiseOperators) like `&` and `|` also exist
- bitwise operators literally compare the bits of two integers, for example:

In [55]:
print(f"Bit representation of the number 5: {5:0b}")
print(f"Bit representation of the number 4: {4:0b}")
print(f"                                    ↓↓↓")
print(f"                                    {5 & 4:0b}")
print(f"                                     ↓ ")
print(f"                                     {5 & 4}")

Bit representation of the number 5: 101
Bit representation of the number 4: 100
                                    ↓↓↓
                                    100
                                     ↓
                                     4

- The `&` operator outputs `1` if the corresponding bit of `x` and `y` is 1, otherwise it's 0.
- See the [Python documentation](https://wiki.python.org/moin/BitwiseOperators) for other operators (I never use them)

### Casting

- Sometimes (but pretty rarely) we need to explicitly **cast** a value from one type to another.
- Python tries to do something reasonable, or throws an error if it has no ideas.

In [56]:
x = 5.0
type(x)

float

In [57]:
x = int(5.0)
x

5

In [58]:
type(x)

int

In [59]:
x = str(5.0)
x

'5.0'

In [60]:
type(x)

str

In [61]:
str(5.0) == 5.0

False

In [62]:
int(5.3)

5

In [63]:
float("hello")

ValueError: could not convert string to float: 'hello'

## 3. Lists and Tuples
<hr>

- Lists and tuples allow us to store multiple things ("elements") in a single object.
- The elements are _ordered_.
- Lists are defined with square brackets `[]`

In [64]:
my_list = [1, 2, "THREE", 4, 0.5]

In [65]:
print(my_list)

[1, 2, 'THREE', 4, 0.5]

In [66]:
type(my_list)

list

- Lists can hold any datatype
- Even other lists!

In [67]:
another_list = [1, "two", [3, 4, "five"], True, None, {"key": "value"}]
print(another_list)

[1, 'two', [3, 4, 'five'], True, None, {'key': 'value'}]

You can get the length of the list with `len`:

In [68]:
len(my_list)

5

- Tuples look similar to lists but have a key difference (more on that in a moment)
- They are defined with parentheses `()`

In [69]:
today = (1, 2, "THREE", 4, 0.5)

In [70]:
print(today)

(1, 2, 'THREE', 4, 0.5)

In [71]:
type(today)

tuple

In [72]:
len(today)

5

### Indexing and Slicing Sequences

- We can access values inside a list, tuple, or string using square bracket syntax. 
- Python uses *zero-based indexing*, which means the first element of the list is in position 0, not position 1. 
- Sadly, R uses one-based indexing, so get ready to be confused.

In [73]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [74]:
my_list[0]

1

In [75]:
my_list[2]

'THREE'

In [76]:
len(my_list)

5

In [77]:
my_list[5]

IndexError: list index out of range

- We use negative indices to count backwards from the end of the list.

In [78]:
my_list

[1, 2, 'THREE', 4, 0.5]

In [79]:
my_list[-1]

0.5

In [80]:
my_list[-2]

4

- We can use the colon `:` to access a sub-sequence. This is called "slicing".

In [81]:
my_list[1:3]

[2, 'THREE']

- Above: note that the start is inclusive and the end is exclusive.
- So `my_list[1:3]` fetches elements 1 and 2, but not 3.
- In other words, it gets the 2nd and 3rd elements in the list.

- We can omit the start or end:

In [82]:
my_list[:3]

[1, 2, 'THREE']

In [83]:
my_list[3:]

[4, 0.5]

In [84]:
my_list[:]  # *almost* same as just executing my_list - more details next week

[1, 2, 'THREE', 4, 0.5]

- Strings behave the same as lists and tuples when it comes to indexing and slicing.
- They are just a sequence of letters after all

In [85]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [86]:
alphabet[0]

'a'

In [87]:
alphabet[-1]

'z'

In [88]:
alphabet[-3]

'x'

In [89]:
alphabet[:5]

'abcde'

In [90]:
alphabet[12:20]

'mnopqrst'

### List Methods

- A list is an object and it has methods for interacting with its data. 
- For example, `list.append(item)` appends an item to the end of the list. 
- See the documentation for more [list methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists), or you can call `dir(list)`

In [91]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [92]:
primes = [2, 3, 5, 7, 11]
primes

[2, 3, 5, 7, 11]

In [93]:
len(primes)

5

In [94]:
primes.append(13)

In [95]:
primes

[2, 3, 5, 7, 11, 13]

In [96]:
len(primes)

6

In [97]:
max(primes)

13

In [98]:
min(primes)

2

In [99]:
sum(primes)

41

In [100]:
[1, 2, 3] + ["Hello", 7]

[1, 2, 3, 'Hello', 7]

- (optional) The adding behaviour is actually defined by the `__add__` method of a list, this is a Python thing

In [101]:
[1, 2, 3].__add__(["Hello", 7])

[1, 2, 3, 'Hello', 7]

- There are all sorts of so called "dunder" or "magic" methods that can be associated with an object to affect its behaviour
- For example, the `__str__()` method is what's called when you type `print()`
- These are details you don't need to know but I think it's fun

### Sets

- Another built-in Python data type is the `set`, which stores an _un-ordered_ list of _unique_ items.
- Being unordered, sets do not record element position or order of insertion and so do not support indexing
- More on sets in DSCI 512.

In [102]:
s = {2, 3, 5, 11}
s

{2, 3, 5, 11}

In [103]:
{1, 2, 3} == {3, 2, 1}

True

In [104]:
[1, 2, 3] == [3, 2, 1]

False

In [105]:
s.add(2)  # does nothing
s

{2, 3, 5, 11}

In [106]:
s[0]

TypeError: 'set' object is not subscriptable

Above: throws an error because elements are not ordered.

### Mutable vs. Immutable Types

- Strings and tuples are immutable types which means they cannot be modified. 
- Lists are mutable and we can assign new values for its various entries. 
- This is the main difference between lists and tuples.

In [107]:
names_list = ["Indiana", "Fang", "Linsey"]
names_list

['Indiana', 'Fang', 'Linsey']

In [108]:
names_list[0] = "Cool guy"
names_list

['Cool guy', 'Fang', 'Linsey']

In [109]:
names_tuple = ("Indiana", "Fang", "Linsey")
names_tuple

('Indiana', 'Fang', 'Linsey')

In [110]:
names_tuple[0] = "Not cool guy"

TypeError: 'tuple' object does not support item assignment

- Same goes for strings. Once defined we cannot modifiy the characters of the string.

In [111]:
my_name = "Tom"

In [112]:
my_name[-1] = "q"

TypeError: 'str' object does not support item assignment

In [113]:
x = ([1, 2, 3], 5)

In [114]:
x[1] = 7

TypeError: 'tuple' object does not support item assignment

In [115]:
x

([1, 2, 3], 5)

In [116]:
x[0][1] = 4

In [117]:
x

([1, 4, 3], 5)

## 4. String Methods
<hr>

- There are various useful string methods in Python.
- MDS-CL students will soon be the experts we can go to for help!

In [118]:
all_caps = "HOW ARE YOU TODAY?"
print(all_caps)

HOW ARE YOU TODAY?

In [119]:
new_str = all_caps.lower()
new_str

'how are you today?'

- Note that the method lower doesn't change the original string but rather returns a new one.

In [120]:
all_caps

'HOW ARE YOU TODAY?'

- There are *many* string methods. Check out the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [121]:
all_caps.split()

['HOW', 'ARE', 'YOU', 'TODAY?']

In [122]:
all_caps.count("O")

3

- One can explicitly cast a string to a list:

In [123]:
caps_list = list(all_caps)
caps_list

['H',
 'O',
 'W',
 ' ',
 'A',
 'R',
 'E',
 ' ',
 'Y',
 'O',
 'U',
 ' ',
 'T',
 'O',
 'D',
 'A',
 'Y',
 '?']

In [124]:
"".join(caps_list)

'HOW ARE YOU TODAY?'

In [125]:
"-".join(caps_list)

'H-O-W- -A-R-E- -Y-O-U- -T-O-D-A-Y-?'

- We can also chain multiple methods together (more on this when we get to NumPy and Pandas in later lectures):

In [126]:
"".join(caps_list).lower().split(" ")

['how', 'are', 'you', 'today?']

### String formatting

- Python has ways of creating strings by "filling in the blanks" and formatting them nicely. 
- This is helpful for when you want to print statements that include variables or statements.
- There are a few ways of doing this. See [here](https://realpython.com/python-string-formatting/) and [here](https://stackoverflow.com/questions/5082452/string-formatting-vs-format) for some discussion.
- I use and recommend [f-strings](https://docs.python.org/3.6/whatsnew/3.6.html#whatsnew36-pep498) which were introduced in Python 3.6. See format code options [here](https://docs.python.org/3.4/library/string.html#format-specification-mini-language).

In [127]:
name = "Newborn Baby"
age = 4 / 12
day = 10
month = 6
year = 2020
template_new = f"Hello, my name is {name}. I am {age:.2f} years old. I was born {day}/{month:02}/{year}."
template_new

'Hello, my name is Newborn Baby. I am 0.33 years old. I was born 10/06/2020.'

## 5. Dictionaries
<hr>

- A dictionary is a mapping between key-values pairs.

In [128]:
house = {
    "bedrooms": 3,
    "bathrooms": 2,
    "city": "Vancouver",
    "price": 2499999,
    "date_sold": (1, 3, 2015),
}

condo = {
    "bedrooms": 2,
    "bathrooms": 1,
    "city": "Burnaby",
    "price": 699999,
    "date_sold": (27, 8, 2011),
}

- We can access a specific field of a dictionary with square brackets:

In [129]:
house["price"]

2499999

In [130]:
condo["city"]

'Burnaby'

- We can also edit dictionaries (they are mutable):

In [131]:
condo["price"] = 5  # price already in the dict
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011)}

In [132]:
condo["flooring"] = "wood"

In [133]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Burnaby',
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

- We can delete fields entirely (though I rarely use this):

In [134]:
del condo["city"]

In [135]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood'}

- And we can easily add fields:

In [136]:
condo[5] = 443345

In [137]:
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345}

- Keys may be any immutable data type, even a `tuple`!

In [138]:
condo[(1, 2, 3)] = 777
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'price': 5,
 'date_sold': (27, 8, 2011),
 'flooring': 'wood',
 5: 443345,
 (1, 2, 3): 777}

- You'll get an error if you try to access a non-existent key:

In [139]:
condo["not-here"]

KeyError: 'not-here'

- Although, a sometimes useful trick if you don't want to throw and error is to use `.get()`

In [140]:
condo["bedrooms"]

2

- is shorthand for

In [141]:
condo.get("bedrooms")

2

- With `.get()` you can return a default value if the query key is not present:

In [142]:
condo.get("bedrooms", "invalid key!")

2

In [143]:
condo.get("fireplaces", "invalid key!")

'invalid key!'

## 6. Empties

- Sometimes you'll want to create empty objects that will be filled later on

In [144]:
lst = list()  # empty list
lst

[]

In [145]:
lst = []  # empty list
lst

[]

- There's no real difference between the two methods above, `[]` is [marginally faster](https://stackoverflow.com/questions/2972212/creating-an-empty-list-in-python)...

In [146]:
tup = tuple()  # empty tuple
tup

()

In [147]:
tup = ()  # empty tuple
tup

()

In [148]:
dic = dict()  # empty dict
dic

{}

In [149]:
dic = {}  # empty dict
dic

{}

In [150]:
st = set()  # empty set
st

set()

In [151]:
st = {}  # NOT an empty set! But an empty dictionary!
type(st)

dict

In [152]:
st = {1}
type(st)

set

- I can't recall ever having to create an empty tuple or set...

## 7. Conditionals
<hr>

- [Conditional statements](https://docs.python.org/3/tutorial/controlflow.html) allow us to write programs where only certain blocks of code are executed depending on the state of the program. 
- Let's look at some examples and take note of the keywords, syntax and indentation. 
- Check out the [Python documentation](https://docs.python.org/3/tutorial/controlflow.html) and [Think Python (Chapter 5)](http://greenteapress.com/thinkpython/html/thinkpython006.html) for more information about conditional execution.

In [153]:
name = "Tom"

if name.lower() == "tom":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name!")
print("Nice to meet you!")

That's my name too!
Nice to meet you!

- The main points to notice:
  - Use keywords `if`, `elif` and `else`
  - The colon `:` ends each conditional expression
  - Indentation (by 4 empty space) defines code blocks
  - In an `if` statement, the first block whose conditional statement returns `True` is executed and the program exits the `if` block
  - `if` statements don't necessarily need `elif` or `else`
  - `elif` lets us check several conditions
  - `else` lets us evaluate a default block if all other conditions are `False`
  - the end of the entire `if` statement is where the indentation returns to the same level as the first `if` keyword

- If statements can also be **nested** inside of one another:

In [154]:
name = "Super Tom"

if name.lower() == "tom":
    print("That's my name too!")
elif name.lower() == "santa":
    print("That's a funny name.")
else:
    print(f"Hello {name}! That's a cool name.")
    if name.lower().startswith("super"):
        print("Do you really have superpowers?")

print("Nice to meet you!")

Hello Super Tom! That's a cool name.
Do you really have superpowers?
Nice to meet you!

### Inline if/else

- We can write simple `if` statements "inline", i.e., in a single line

In [155]:
words = ["the", "list", "of", "words"]

x = "long list" if len(words) > 10 else "short list"
x

'short list'

In [156]:
if len(words) > 10:
    x = "long list"
else:
    x = "short list"

In [157]:
x

'short list'

### Truth Value Testing

- Any object can be tested for "truth" in Python, for use in `if` and `while` (next lecture) statements
- `True` values:
    - By default, all objects return `True` unless they are a `bool` object with value `False` or have `len()` == 0
- `False` values:
    - constants defined to be false: `None` and `False`
    - zero
    - empty sequences and collections: `''`, `()`, `[]`, `{}`, `set()`
- Read more in the [docs here](https://docs.python.org/3/library/stdtypes.html#truth-value-testing)

In [158]:
x = 1

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm truthy!

In [159]:
x = False

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm falsey!

In [160]:
x = []

if x:
    print("I'm truthy!")
else:
    print("I'm falsey!")

I'm falsey!

### Short-circuiting

- Python supports short-circuting
- This is the automatic stopping of the execution of boolean operation if the truth value of expression has already been determined

In [161]:
fake_variable  # not defined

NameError: name 'fake_variable' is not defined

In [162]:
True or fake_variable

True

In [163]:
True and fake_variable

NameError: name 'fake_variable' is not defined

In [164]:
False and fake_variable

False

|Expression|Result|Detail|
|---|---|---|
|A or B|If A is `True` then A else B|B only executed if A is `False`|
|A and B|If A is `False` then A else B|B only executed if A is `True`|